//
// Background shapes
//


// Circles

.bg-shape-circle {
    display: block;
    border-radius: 50%;
    background-color: rgba($black, .05);
    position: absolute;
    margin: auto;
}

.bg-shape-circle-lg {
    width: 800px;
    height: 800px;
}

